html {
  background: rgba(26, 26, 26, 1);
  color: rgba(214, 214, 214, 1);
}

html,
body {
  margin: 0;
}

.main-cont {
  min-height: calc(100vh - 70px);
  width: auto;
}
/* Navigation */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navigation li {
  float: left;
  border-right: 1px solid #bbb;
}
.navigation li:last-child {
  border-right: none;
  right: 0;
}
.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation li a:hover:not(.current) {
  background-color: #111;
}
.navigation form {
  display: block;
  float: right;
}
.navigation form a {
  display: inline-block;
}

.search {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 2;
  float: right;
}
/* Navigation end */

.main {
  text-align: center;
}
.boxDiv {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 300px;
  margin: auto;
}

/* Footer */
.footer {
  text-align: center;
  height: 50px;
}
/* Footer end*/
